body {
    margin: 20px;
    background: #000;
    opacity: 1;
    transition: opacity 3s;
}

body.blackScreen {
    opacity: 0;
    transition: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
    background-color: #fed000;
    margin: 10px auto;
}

#display {
    display: flex;
    margin: 20px auto;
    max-width: 300px;
}

#middle {
    margin: 0 auto;
}

.zButton {
    margin: 0 10px;
    height: 80px;
    width: 80px;
    border: 0;
    background-color: transparent;
    background-image: url('/img/trumpet_small.png');
    background-size: cover;
    cursor: pointer;
}

.zButton:hover {
   transform: rotate(10deg);
}

#Sco {
    background-image: url('/img/trumpet_small.png');
}

#Aqu {
    background-image: url('/img/saxophone_small.png');
}

#Pis {
    background-image: url('/img/guitar_small.png');
}